:root {
  --primary-color: #1bb21b;
  --secondary-color: #c0b296;
  --background-color: #141414;
  --font-size: 16px;
  --font-family: 'Courier Prime', monospace;
  --line-height: 1.5;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: var(--primary-color);
}
